.fondoDos{ 
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute ;
    z-index: 0; 
    flex: 1;
}
.icono{
    max-width: 30%;
}
.card{
    opacity: 75%;  
    position: absolute ; 
}
